#al {
    text-align: center;
}

#main {
    padding-top: 2%;
    
}
p {
    text-align: center;
}

footer {
    height: 60px;
    
}

.subfooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body #help:hover {
    
    transition: 400ms;
    color: black;
    text-shadow: 0px 0px 4px #ffffff;
}


main {
    flex: 1 0 auto;
}
input {
    size: 20px;
    cursor: pointer;
}
.subfooter #gitimg {
    height: 30px;
    width: 30px;
}

.subfooter #gitlink{
    justify-self: right;
    align-self: center;
    padding-right: 15px;
    padding-top: 10px;
}

.subfooter #gitimg:hover {
    transition: 800ms;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    
}

.subfooter #created {
    padding-top: 4px;
    color: white;
    justify-self: right;
    align-self: center;
    display: inline;
    position: relative;
    
}

.subfooter #created a {
    color: white;
}

.subfooter #created a:hover {
    transition: 400ms;
    color: black;
    text-shadow: 0px 0px 4px #ffffff;
}

