#al {
    text-align: center;
}

#main {
    padding-top: 2%;
}
p {
    text-align: center;
}

footer {
    height: 60px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
input {
    size: 20px;
}
#gitimg {
    position: relative;
    top: 13px;
    left: 1315px;
    height: 30px;
    width: 30px;
}

#created {
    align-self: center;
    position: relative;
    bottom: 30px;
}


